@media screen and (min-device-width:768px) and (max-device-width:992px) {
    .text-hotel {
        padding-top: 70px;
    }
    .text-hotel h1 {
        font-size: 2.4em;
    }
    .text-hotel p {
        font-size: 16px;
        text-align: justify;
    }
    .row .button-prev-next {
        margin-left: 2.1rem!important;
    }
    .row .navbar-brand {
        padding-right: 2px;
    }
    #navbarNavDropdown ul li a.nav-link {
        padding-left: 2px;
        font-size: 0.9rem;
    }
    .row .grid-left-trust,
    .row .grid-left-testimonials,
    .row .restaurant-text,
    .row .card-blog,
    .row .blog-text,
    .row .photos-text,
    .row .contact-text {
        flex: 0 0 81%;
        max-width: 81%;
    }
    .row .card-blog {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row .grid-left-trust h1,
    .row .grid-left-testimonials h1,
    .row .restaurant-text h1,
    .row .blog-text h1,
    .row .photos-text h1,
    .row .grid-left-testimonials p,
    .row .grid-restaurant-text h1,
    .row .contact-text h1 {
        text-align: center;
    }
    .row .grid-right-images {
        padding-top: 6%;
        padding-left: 15%;
    }
    .row .grid-right-images .clsimg1,
    .row .grid-restaurant-text {
        flex: 0 0 63%;
        max-width: 63%;
    }
    .row .grid-right-images .clsimg2 {
        flex: 0 0 126%;
        max-width: 126%;
    }
    .carousel-text h1 {
        font-size: 2.5em;
    }
    .first-card {
        margin-left: 14%;
    }
    .carousel-item .card {
        margin-right: 1.5%;
    }
    .cartonase span {
        font-size: 13px;
    }
    .cartonase p {
        font-size: 10px;
        padding: 5px 5px;
    }
    rotunjit {
        border-radius: 40px;
        margin: 1px 13px;
    }
    .testimonials-image img {
        margin-left: 39%;
    }

    .row .grid-left-testimonials p {
        flex: 0 0 95%;
        max-width: 95%;
    }

    #main-wrapper {
        padding-bottom: 15rem!important;
    }
    .card-restaurant .button-prev-next {
        padding-left: 104%;
    }
    .card-restaurant .card {
        margin-left: 4.5rem!important;
    }
    .card-blog .card {
        margin-right: 2.5rem!important;
        margin-left: 3.5rem!important;
        max-width: 28%;
    }
    .photos .d-none {
        width: 100%;
    }
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .footer-links,
    .footer-col-links h6 {
        padding-left: 100px;
    }
    .footer-privacy,
    .footer-col-privacy h6 {
        padding-left: 30px;
    }
    .copyright .link {
        margin-left: -4rem!important;
    }
    /* Stilizare IndexRooms.html */
    .check-date-rooms .col-2 {
        flex: 0 0 18.666667%;
        max-width: 18.666667%;

    }
    .check-date-rooms .btn-info {
        padding-right: 20px;
        padding-left: 20px;
    }
    /* Stilizare IndexRestaurant.html */
    .row .grid-restaurant-images {
        padding-left: 22%;
    }
    .row .grid-restaurant-text {
        margin-left: 10%;
    }
    .row .grid-restaurant-text {
        margin-left: 18%;
    }
    /* Stilizare IndexContact.html */
    .panel-contact {
        -ms-flex: 0 0 27.3333%;
        flex: 0 0 27.3333%;
        max-width: 27.3333%;
    }
    .icon-contact {
        margin-left: 25%;
    }
    .heading1 {
        margin-right: 10rem!important;
    }
    .heading2 {
        margin-right: 10rem!important;
        margin-left: 0.4rem!important;
    }
    .heading3 {
        margin-left: -3rem!important;
        margin-right: 10rem!important;
    }
    .heading4 {
        margin-left: -4rem!important;
        margin-right: 10rem!important;
    }
    .head1 {
        margin-left: -6rem!important;
        margin-right: 8.5rem!important;
    }
    /* DailyCaloriesCalculator */
    .part1 h3,
    .part1 h4,
    .part2 h4 {
        padding-left: 250px;
    }
    .calculatorWoman {
        padding-left: 200px;
    }
    .calculatorMan {
        padding-top: 50px;
        padding-left: 200px;
    }
}