.btn {
    color: red;
}

.elm1 {
    background-color: green;
}

.elm2 {
    background-color: purple;
}

.elm3 {
    background-color: blue;
}

.elm4 {
    background-color: pink;
}

.row {
    background-color: yellow;
}